.contact14-contact20 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  overflow: hidden;
  position: relative;
  flex-direction: column;
}
 
.contact14-max-width {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.contact14-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text10 {
  align-self: stretch;
  text-align: center;
  font-family: "Inter";
}
 
.contact14-text11 {
  text-align: center;
  font-family: "Inter";
}
 
.contact14-email1 {
  text-align: center;
  font-family: "Inter";
}
 
.contact14-content3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-icon3 {
  width: var(--dl-layout-size-small);
  height: var(--dl-layout-size-small);
}
 
.contact14-contact-info2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text12 {
  align-self: stretch;
  text-align: center;
  font-family: "Inter";
}
 
.contact14-text13 {
  text-align: center;
  font-family: "Inter";
}
 
.contact14-email2 {
  text-align: center;
  font-family: "Inter";
}
 
.contact14-content5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.contact14-contact-info3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-content6 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact14-text14 {
  align-self: stretch;
  text-align: center;
  font-family: "Inter";
}
 
.contact14-text15 {
  text-align: center;
  font-family: "Inter";
}
 
.contact14-phone {
  text-align: center;
  font-family: "Inter";
}
 
.contact14-fragment1 {
  display: contents;
}
 
.contact14-text16 {
  display: inline-block;
}
 
.contact14-fragment2 {
  display: contents;
}
 
.contact14-text17 {
  display: inline-block;
}
 
.contact14-fragment3 {
  display: contents;
}
 
.contact14-text18 {
  display: inline-block;
}
 
.contact14-fragment4 {
  display: contents;
}
 
.contact14-text19 {
  display: inline-block;
}
 
.contact14-fragment5 {
  display: contents;
}
 
.contact14-text20 {
  display: inline-block;
}
 
.contact14-fragment6 {
  display: contents;
}
 
.contact14-text21 {
  display: inline-block;
}
 
.contact14-fragment7 {
  display: contents;
}
 
.contact14-text22 {
  display: inline-block;
}
 
.contact14-fragment8 {
  display: contents;
}
 
.contact14-text23 {
  display: inline-block;
}
 
.contact14-fragment9 {
  display: contents;
}
 
.contact14-text24 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .contact14-max-width {
    flex-direction: column;
  }
}
