.contact7-container1 {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.contact7-max-width {
  align-self: center;
}
 
.contact7-content1 {
  width: 100%;
  margin-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
}
 
.contact7-content2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.contact7-text1 {
  font-family: "Inter";
}
 
.contact7-text2 {
  font-family: "Inter";
}
 
.contact7-content3 {
  width: 100%;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
 
.contact7-container2 {
  flex: 1;
  width: auto;
  display: flex;
  align-items: center;
  flex-direction: column-reverse;
}
 
.contact7-google-maps {
  width: var(--dl-layout-size-maxwidth);
  height: 720px;
}
 
.contact7-fragment1 {
  display: contents;
}
 
.contact7-text3 {
  display: inline-block;
}
 
.contact7-fragment2 {
  display: contents;
}
 
.contact7-text4 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .contact7-content3 {
    align-items: center;
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .contact7-content1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
