.cta12-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta12-max-width {
  gap: 80px;
  width: 100%;
  height: auto;
  display: flex;
  z-index: 100;
  overflow: hidden;
  max-width: var(--dl-layout-size-maxwidth);
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta12-container2 {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.cta12-content {
  gap: 24px;
  width: 616px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.cta12-actions {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
}
 
.cta12-background-image {
  left: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  position: absolute;
  object-fit: cover;
}
 
.cta12-fragment1 {
  display: contents;
}
 
.cta12-text5 {
  display: inline-block;
}
 
.cta12-fragment2 {
  display: contents;
}
 
.cta12-text6 {
  display: inline-block;
}
 
.cta12-fragment3 {
  display: contents;
}
 
.cta12-text7 {
  display: inline-block;
}
 
.cta12-fragment4 {
  display: contents;
}
 
.cta12-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .cta12-container2 {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}
 
@media(max-width: 767px) {
  .cta12-content {
    width: auto;
  }
}
 
@media(max-width: 479px) {
  .cta12-container2 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
}
