.cta2611-accent2-bg {
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  align-self: stretch;
  transition: 0.3s;
  align-items: center;
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent2);
}
 
.cta2611-accent2-bg:hover {
  transform: scale3d(1.1,1.1,1.1);
}
 
.cta2611-accent1-bg {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(-2deg) skew(0deg, 0deg);
  align-items: center;
  justify-content: space-between;
  transform-style: preserve-3d;
  background-color: var(--dl-color-theme-accent1);
}
 
.cta2611-container2 {
  width: 100%;
  display: flex;
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(1deg) skew(0deg, 0deg);
  transition: 0.3s;
  align-items: center;
}
 
.cta2611-container2:hover {
  color: var(--dl-color-theme-neutral-light);
  background-color: var(--dl-color-theme-neutral-dark);
}
 
.cta2611-content {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.cta2611-actions {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
 
.cta2611-fragment1 {
  display: contents;
}
 
.cta2611-text4 {
  display: inline-block;
}
 
.cta2611-fragment2 {
  display: contents;
}
 
.cta2611-text5 {
  display: inline-block;
}
 
.cta2611-fragment3 {
  display: contents;
}
 
.cta2611-text6 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .cta2611-container2 {
    flex-direction: column;
    justify-content: flex-start;
  }
}
 
@media(max-width: 479px) {
  .cta2611-actions {
    flex-wrap: wrap;
    align-self: stretch;
    justify-content: center;
  }
  .cta2611-button {
    flex: 1;
  }
}
