.features19-layout349 {
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
}
 
.features19-max-width {
  gap: var(--dl-layout-space-fiveunits);
  display: flex;
  align-items: center;
}
 
.features19-image-container {
  flex: 1;
  display: flex;
  position: relative;
  align-items: center;
}
 
.features19-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-section-title {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-content2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.features19-actions {
  gap: var(--dl-layout-space-unit);
  display: flex;
}
 
.features19-button1 {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.features19-button2 {
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-oneandhalfunits);
  padding-right: var(--dl-layout-space-oneandhalfunits);
  padding-bottom: var(--dl-layout-space-halfunit);
}
 
.features19-fragment1 {
  display: contents;
}
 
.features19-text4 {
  display: inline-block;
}
 
.features19-fragment2 {
  display: contents;
}
 
.features19-text5 {
  display: inline-block;
}
 
.features19-fragment3 {
  display: contents;
}
 
.features19-text6 {
  display: inline-block;
}
 
.features19-fragment4 {
  display: contents;
}
 
.features19-text7 {
  display: inline-block;
}
 
.features19-fragment5 {
  display: contents;
}
 
.features19-text8 {
  display: inline-block;
}
 
@media(max-width: 991px) {
  .features19-max-width {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
  }
}
 
@media(max-width: 479px) {
  .features19-actions {
    width: 100%;
    flex-direction: column;
  }
  .features19-button1 {
    width: 100%;
  }
  .features19-button2 {
    width: 100%;
  }
}
